node_modules
dist
dist-ssr
.env
.env.local
.env.*.local
*.local
.DS_Store
*.log
.vite

# TypeScript incremental build info
*.tsbuildinfo

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
dist-local
